@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&family=Roboto+Mono:wght@300&display=swap');

:root{
  --color-one: #F05B0C;
  --colo-two: #F0004A;
  --horizontal-principal-one: #FA2F9D;
  --horizontal-principal-two: #4820FA;
  --horizontal-nba-one: #00FAD1;
  --horizontal-nab-two: #680CFA;
  --horizontal-wapp-one: #00FAD1;
  --horizontal-wapp-two: #0CFA68;
}

header{
  height: 120px;
  background:url('img/bolinhas.png'),linear-gradient(to right, var(--color-one), var(--colo-two));
  background-repeat: no-repeat;
  background-position: 50% 150%;
  line-height: 20px;
}
.header-content{
  background: url('img/bola.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}
.logo{
  margin: 1.5em;
}
.setas{
  position: absolute;
  top: -30px;
  right: 90px;
}
.info{
  text-align: end;
  width: 25%;
  margin-right: 1.5em;
  color: #fff;
}
.info>p{
  margin-top: 5px;
}
.mulher{
  /* width: 120px; */
  position: absolute;
  top: 35px;
  left: 50%;
}
.img-info{
  position: relative;
  top: 10px;
  right:-20px;
}


main{
  position: relative;
}
h1{
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Montserrat";
}
.italic{
  font-size: 1em;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.container{
  width: 80%;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
/* .item{
  margin: 0 auto;
} */
.item-content{
  width: 90%;
  margin: 0 auto;
  padding: 3px;
}
.principal{
  width: 90%;
  margin: auto;
  padding: 10px;
  float: left;
}
.item1{
  float: left;
  order: 1;
  width: 49%;
}
.item2{
  float: right;
  order: 2;
  width: 49%;
}
.img{
  width: 100%;
}
.assinatura>img{
  height: 65px;
  margin-top: 1.5em;
}
.assinatura{
  height: 120px;
  text-align: center;
  background-color: var(--color-one);
}
.horizontal-line{
  width: 50%;
  text-align: end;
}
.hr-card{
  border: none;
  height: 5px;
  background: linear-gradient(to right, var(--horizontal-principal-one), var(--horizontal-principal-two));
}
.hr-card-nba{
  border: none;
  height: 5px;
  background: linear-gradient(to right, var(--horizontal-nba-one),var(--horizontal-nab-two));
}

.hr-card-wapp{
  border: none;
  height: 5px;
  background: linear-gradient(to right, var(--horizontal-wapp-one),var(--horizontal-wapp-two));
}

footer{
  margin-top: 1em;
  height: 40px;
  text-align: center;
}
footer>p{
  width: 100%;
  margin: 0 auto;
}
a{
  color: #ccc;
}
a:hover{
  color: var(--color-one);
}